.main {
  display: flex;
  width: 100%;
  height: 78vh;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 78vh;
  margin-left: 11.5rem;
  border-radius: 20px;
  padding: 5px 0;
  box-sizing: border-box;
}

.image1 {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  align-self: center;
  height: auto;
  object-fit: cover;
}

.titleContainer {
  display: inline-block;
  align-self: center;
  width: 67rem;
  height: 18rem;
  box-sizing: border-box;
}
.titleMain {
  font-size: 2.5rem;
  font-family: var(--type-title);
  font-weight: bold;
  color: black;
  margin-left: 5rem; /* Removido justify-self */
  font-weight: bold;
}
.paragraph {
  font-size: 1.2rem;
  font-family: var(--type-title);
  font-weight: 100;
  color: black;
  margin-left: 5rem; /* Removido justify-self */
}

.sectionContainer {
  display: flex;
  justify-content: space-between;
}

.section1,
.section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 58rem;
  height: 40rem;
  background-color: var(--primary-grey);
}
